
*body{
    width: 100%;
    min-height: 100vh;
}
header{
    background-color: greenyellow;
    padding-bottom: 120px;
}
.content-wrapper{
    display: flex;
    justify-content: space-between;
    
}
footer{
    background-color: greenyellow;
    padding-bottom: 110px;
}

#item-2{
    background-color:rgb(155, 155, 100);
    padding-right: 200px;
    padding-bottom: 320px;

}
#item-3{
    background-color:rgb(105, 100, 100);
    padding-right: 200px;
}

#item-1{
    background-color: white;
    padding-right: 900px;
    
}


